.font-60px {
  font-size: 60px;
  font-weight: 600;
}

.font-34px {
  font-size: 34px;
  font-weight: 700;
}

.font-24px {
  font-size: 24px;
  font-weight: 600;
}

.btn-bg {
  background-color: #32bdbf;
}

.home-bg {
  background-image: url('../../../public/images/home-bg.png');
  background-size: 100% 100%;
}

.btn-pad {
  padding: 20px 40px;
}

@media only screen and (max-width: 768px) {
  .font-60px {
    font-size: 30px;
  }

  .font-34px {
    font-size: 16px;
  }

  .font-24px {
    font-size: 14px;
  }

  .img img {
    width: 8rem;
  }

  .btn-pad {
    padding: 10px 20px;
  }
}
